* {
  background-color: #bcccda;
}
body {
  margin-top: 5rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.image-contaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: contain;
}

h1 {
  color: black;
  border-bottom: 2px solid black;
  width: fit-content;
}

button {
  width: 100%;
  padding: 20px;
  background-color: skyblue;
  color: white;
  font-size: large;
}
